
.sectlo{
    text-align: center;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    .loginsec{
        background-color: white;
        color: black;
        margin: auto;
        margin-top: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        input{
            border-radius: 5px;
        }
        .botaolog{
            margin-top: 20px;
            background-color: black;
            padding: 5px;
            border-radius: 3px;
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            
        }
        .botaolog:hover{
            background-color: rgb(151, 151, 151);
            color: black;
            transition: 0.3s;
            cursor: pointer;
        }
    }
}









